<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div id="app">
        <h1>Lista de Usuarios</h1>

        <button @click="action('add', null)">
            Add
        </button>

        <table v-if="(inAction=='show')">
            <thead>
                <tr>
                    <td>
                        #
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Usarname
                    </td>
                    <td>
                        Email
                    </td>
                    <td>
                        Phone
                    </td>
                    <td>
                        Website
                    </td>
                    <td>
                        Actions
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" >
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.phone }}
                    </td>
                    <td>
                        {{ user.website }}
                    </td>
                    <td>
                        <button @click="action('edit',user)">
                            Edit
                        </button>
                        <button @click="remove(user.id)">
                            Remove
                        </button>
                        <button  @click="removeFilter(user.id)">
                            Filter
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <form v-else action="">
            <fieldset>
                <label for="">
                    Nombre
                </label> <br>
                <input type="text" placeholder="name" v-model="name" required>

                <br><br>

                <button @click="save" >
                    Save
                </button>

                <button @click="cancel" type="button">
                    Cancel
                </button>

                <input type="hidden" v-model="id">
            </fieldset>
        </form>
    </div>
    <script src="js/data.js"></script>
</body>
</html>